footer {
  background-color: #2d2e32;
  padding: 5rem 0;
  width: 100%;
}
.footerc {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.footerc__social {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
}
h3.text-light {
  font-size: 17px;
  font-weight: 800;
}
#icon3,
#icon4 {
  margin: 0 10px;
  width: 20px;
  height: 20px;
}
@media (max-width: 550px) {
  .footerc {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 901px) {
  .footerc h3 {
    padding-left: 88px;
  }
}
