.contact__content {
  display: flex;
  flex-direction: column;
}

#container {
  padding: 0 40px;
}
.contact__info {
  display: flex;
  flex-direction: column;
}

.contact__icon-box {
  align-items: center;
  display: flex;
  gap: 0;
}
.contact__icon-box span {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #147efb;
  display: flex;
  height: 4rem;
  justify-content: center;
  width: 4rem;
}
.contact__icon-box span img {
  width: 60px;
}

.contact__title p {
  color: #147efb;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.contact__title h3 {
  color: #2d2e32;
  font-size: 1.6rem;
  font-weight: 700;
}
.contact__info h3 {
  color: #2d2e32;
  font-size: 1.3rem;
}
.contact__info p,
a {
  color: #767676;
  cursor: pointer;
  font-size: 1.2rem;
  text-decoration: none;
}
.contact__info p:hover,
a:hover {
  color: #147efb;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0;
}

#icon4,
#icon3 {
  color: #fff;
}
.contact__icons.row {
  margin-top: 50px;
}
/* @media (min-width: 900px) and (max-width: 1020px) {

} */
@media (min-width: 992px) {
  .contact-title {
    padding-top: 60px;
    margin-bottom: 90px;
    margin-left: 25px;
  }
  .contact {
    padding: 110px 0;
  }
  .contact__icon-box {
    padding: 0;
  }
  .contact__icon-box span {
    margin-right: 15px;
  }
}
@media (max-width: 1020px) {
  .contact {
    padding: 5rem 0;
  }
  .contact__icon-box span {
    margin-right: 15px;
  }
  /*  */
  .contact__title {
    text-align: center;
  }
  .contact__icon-box {
    align-items: center;
    display: flex;
    gap: 0;
  }
  .contact__icon-box {
    flex-direction: column;
  }
  .contact__icons.row {
    margin-top: 50px;
  }
  .contact__icons {
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    text-align: center;
  }
  .contact__info {
    display: flex;
    flex-direction: column;
  }
  .contact__icon-box span {
    margin-right: 0;
  }
}
@media (max-width: 750px) {
  .contact__title {
    text-align: center;
  }
  .contact__icons {
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    text-align: center;
  }
  .contact__icon-box {
    flex-direction: column;
  }
  .contact__icon-box span {
    margin-right: 0;
  }
}
@media (max-width: 280px) {
}
@media (max-width: 375px) {
}
@media (max-width: 540px) {
  .contact__icon-box span {
    margin: 6px;
  }
  .contact__title h3 {
    font-size: 1.2rem;
  }
}
.contact__info h3 {
  font-size: 1rem;
}
.contact__info p,
a {
  font-size: 1rem;
}
svg.tabler-icon.tabler-icon-mail {
  transform: none;
}
svg.tabler-icon.tabler-icon-map-search {
  transform: none;
}
